# DEV variables

DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=


JWT_SECRET=
ADMIN_PASSWORD_HASH=



#CORS DEV CONFIG
ALLOWED_ORIGINS=
ALLOWED_METHODS=
ALLOWED_HEADERS=
CORS_MAX_AGE=
ALLOW_CREDENTIALS=





#PROD variables

# DB_HOST=
# DB_NAME=
# DB_USER=
# DB_PASS=
# DB_PORT=

# JWT_SECRET=
# ADMIN_PASSWORD_HASH=


#CORS PROD CONFIG
# ALLOWED_ORIGINS=
# ALLOWED_METHODS=
# ALLOWED_HEADERS=
# CORS_MAX_AGE=
# ALLOW_CREDENTIALS=