<Files .env>
    Order allow,deny
    Deny from all
</Files>

Options -Indexes
php_flag display_errors on
php_value error_reporting -1

# Todo va a public/index.php
RewriteEngine On

# Si es un archivo o directorio real en public/, servirlo directamente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Todo lo demas a public/index.php
RewriteRule ^ public/index.php [L]
