/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    font-family: 'Lato', sans-serif;
}

:root{
    /* --text: #030706;
    --background: #fafafa;
    --primary: #75c2db;
    --secondary: #dce0df;
    --accent: #9d5239;


    --cardBackground: #f0efef;
    --cardBackground: #f1e0da; */

    --text: #08211b;
    --background: #f2f7f6;
    --primary: #AA2748;
    --secondary: #dce0df;
    --accent: #aa2748;

}



html{
    font-size: 18px;
    
    background-color: var(--background);

}
svg, img, object{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
a{
    color: var(--text);
}
a:visited{
    color: var(--text);
}

/*ICONS #################*/


.icon{
    display: flex;
    justify-content: center;
    align-items: center;


    width: 50px;
    height: 50px;
    margin: 5px;
}

.icon.small{
    width: 30px;
    height: 30px;

}

.icon.extraSmall{
    width: 20px;
    height: 20px;
}


/*TEXT #################*/

.text{
    font-size: 1rem;  
    font-weight: 400;  
}

.text.large{
    font-size: 1.5rem;
    font-weight: 600;
}
.text.medium{
    font-size: 1.2rem;
    font-weight: 600;
}
.text.small{
    font-size: 1.1rem;
    font-weight: 400;
}
.text.extraSmall{
    font-size: 1rem;
    font-weight: 400;
}
.text.extraExtraSmall{
    font-size: 0.9rem;
    font-weight: 400;
}


.text.alignLeft{
    text-align: left;
}
.text.alignRigth{
    text-align: right;
}
.text.alignCenter{
    text-align: center;
}


/* FLEX CHARACTERISTICS ###################*/
.flexRow{
    display: flex;
    flex-flow: row;
}

.flexColumn{
    display: flex;
    flex-flow: column;
}

.flexCenter{
    justify-content: center;
    align-items: center;
}

.flexAlignCenter{
    align-items: center;
}


.flexSpace_evenly{
    justify-content: space-evenly;
    align-items: center;
}

.flexStretch{
    align-items: stretch;
}




.flexWrap{
    flex-wrap: wrap;
}



















/* EXTRAS #########################*/
.spacer{
    width: 100%;
    height: 10px;

    margin: 40px 0;

}
.spacer.line{
    height: 1px;
    margin: 45px 0;
    background-color: var(--text);
}













.button{
    height: 30px;

    max-width: 500px;

    margin: 20px 0;
    padding: 5px;

    border-radius: 8px;
}

.button:disabled{
    opacity: 0.4;
}

.button.primary{
    background-color: var(--primary);
    color: var(--background)
}
.button.secondary{
    background-color: var(--secondary);
}




.bulletpoints{
    padding-left: 25px;
}
.bulletpoints li{
    margin: 5px;
}









nav{
    position: fixed;
    z-index: 4;
    top: 0px;
    left: 0px;

    font-weight: 800;


    width: 100%;
    height: 50px;

    /* padding: 10px 20px 10px 30px; */
    padding-left: 20px;

    background-color: var(--background);
    box-shadow: 0px 0px 1px 2px var(--text);

    display: flex;
    flex-flow: row;

    justify-content: start;
    align-items: center;
}


.navItem{
    height: 100%;
    width: 100%;
    max-width: 1024px;
}
























main{
    width: 100%;

    margin: 50px auto; 
    padding: 20px;

}














#presentation{
    width: 100%;
}


.profile{
    width: 100%;
    margin: 30px 0px;

}

.profile #profileImage{
    width: 75%;
    max-width: 500px;

    border-radius: 1000px;
    border: 1px solid var(--text);
    box-shadow: var(--accent) 0px 0px 30px -5px ;
}














#about{
    max-width: 400px;
}










#experience{
    width: 100%;
    max-width: 900px;
}

#experience_academic{
    padding-left: 10px;
    gap: 10px;
}
















#projectShowcase{
    width: 100%;
    max-width: 900px;
}

#projectShowcase>div{
    gap: 40px;
}


.card{
    width: 100%;
    max-width: 400px;
    max-height: 450px;

    
    border-radius: 10px 10px 10px 10px;

    background-color: var(--cardBackground);
    box-shadow: 0px 0px 25px -15px black;
    transition: box-shadow 0.5s ease;
}

.card:hover,.card:active{
    box-shadow: 0px 0px 40px -12px var(--accent);
}



.card .card_title{
    margin-bottom: 5px;
}

.card .cardText{
    padding: 10px;
}

.card .card_image img{
    max-height: 200px;

    padding: 5px;
    border-radius: 20px;

    object-fit: fill;
}

/* 
@media (max-width <= 550px){

    .card{}

} */
