.pulse-animate.svelte-1a15q85{animation:svelte-1a15q85-custom-pulse 5s cubic-bezier(.4,0,.6,1) infinite}@keyframes svelte-1a15q85-custom-pulse{0%,to{transform:scaleX(1);opacity:.8}50%{transform:scaleX(1.01);opacity:.4}}
